/*=================
		Header
===================*/

header {
	border-bottom: 1px black solid;
}

header div a {
	color: black;
	
}


nav {
	text-align: center;
	padding-top: 2.5em;
}

nav li {
	display: inline;
	margin: 0 3em;

}



/*nav li a {
	color: white;
}*/


/*==================
		Font
====================*/

h4 {
	color: #43484e;
}

section h4 {
	color: #003E47;
}

p {
	color: #4D4C4B;
}

section p {
	color: black;
}

footer p {
	font-size: .75em;
}


/*==================
		Body
====================*/

body {
	background: url('../img/crossword.png');
}


section {
	margin: 0 auto;
	margin: 2em 0;
}



/*=====================
	Contact
=======================*/

#gmap {
	height: 250px;
	width: 450px;
	margin: 3em;
}

.info {
	padding-top: 3em;
}

/*==================
		Form
====================*/

label {
	color: #4D4C4B;
}

/*==================
		Buttons
====================*/

button {
	background: #746D68;
}

a.medium.round.button {
	background: #746D68;
}

a.medium.round.button:hover {
	background: #3E3D3C;
}

/*==================
		Footer
====================*/

footer {
	background: #DED2B4;
	padding: 3em;
	width: 100%;
}


