/*=================
		Header
===================*/
header div a {
	color: black;
	
}


nav {
	background: #4B74A8;
	text-align: center;
	padding-top: 1em;
}

nav li {
	display: inline;
	margin: 0 3em;

}



nav li a {
	color: white;
}


/*==================
		Font
====================*/




/*==================
		Body
====================*/

body {
	background: url('../img/crossword.png');
}


section {
	margin: 0 auto;
	margin: 2em 0;
}

section p {
	color: black;
}

/*=====================
	Contact
=======================*/

#gmap {
	height: 250px;
	width: 450px;
	margin: 3em;
}

/*==================
		Form
====================*/

label {
	color: black;
}

/*==================
		Footer
====================*/

footer {
	background: #4B74A8;
	padding: 3em;
}

footer p {
	font-size: .75em;
}
